<!DOCTYPE html>

{%load staticfiles%}
<html>

	
	<head>

		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
		<link rel="stylesheet" href="{% static 'css/style.css'%}">
		<title>Whats the magic word?</title>

	</head>
	
	<body>
		<div class="container mainc">
			
			
			{%if is_correct == None%}
				{%if guessform.errors%}
					{%for field ,errors in guessform.errors.items%}
							{%for error in errors%}   
								{%if error != 'unique_error'%} 
									<div class="alert alert-warning">
											{{error}}
									</div>
								{%endif%}
							{%endfor%}
					{%endfor%}
				{%endif%}
			{%elif is_correct%}
				<div class="alert alert-success"><strong>BITCH U GUESSED IT</strong> u waz rite </div>	
			{%else%}
				<div class="alert alert-danger"><strong> HWAH! </strong> nope</div>
			{%endif%}
			
						
			<form method="post" autocomplete="off" >
				{%csrf_token%}
				<div class="form-group">

					<label for="id_guess"> <h1>Guess The Magic Word</h1> </label> 
					{{ guessform.guess }}
					{{ guessform.captcha}}

					
					<input class="btn btn-primary" type="submit" value="Submit">
				</div
			</form>
			
			<iframe data-aa='71179' src='https://ad.a-ads.com/71179?size=300x250' scrolling='no' style='width:300px; height:250px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
		
		</div>
	</body>




</html>
